@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbf3f0;
}

main {
  width: 40rem;
  background-color: white;
  padding: 3rem;
  border-radius: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

main > h1 {
  color: #034748;
}

.input-box {
  width: 100%;
}

#text-input {
  border: none;
  border-bottom: 1px solid #034748;
  width: 70%;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem 0;
}

#check-btn {
  border: none;
  background-color: #034748;
  color: #cbf3f0;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

#result {
  margin: 1rem 0 0;
  padding: 0.5rem 0;
}
